fastapi[standard]
uvicorn[standard]
python-dotenv
requests
httpx
uuid
boto3
tenacity

tiktok-api
selenium-stealth

celery[redis]
redis

streamlit

alembic
psycopg2-binary
sqlalchemy
sqlmodel
pgvector

pydantic
pydantic-ai
pydantic-settings

openai
xai-sdk
langgraph
langchain
langchain-core
langchain-openai
openai

elevenlabs
moviepy

replicate
Pillow
ffmpeg-python
numpy
pandas

ShopifyAPI